{% extends 'orders/base.html' %}

{% block title %} Main page {% endblock %}

{% block script %}
    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'script.js' %}"></script>
{% endblock %}

{% block body %}
    {% load range %}
    {% csrf_token %} 
    <h1>Menu</h1>
    {% for category in menu %}
    <form action="add_to_cart" method="POST">    
        <h3>{{category.name}}</h3>
            <div id="category_{{category.id}}">
                Type: 
                <select id="{{category.id}}_product">
                    {% for product in category.products.all %}
                    <option value="{{product.id}}">{{product.name}}</option>
                    {% endfor %}
                </select>
                <br>
                Size and price: 
                <select id="{{category.id}}_price"></select>
                <br>
                Toppings: 
                <select id="{{category.id}}_topping"></select>
                <br>
                <input name="add" type="button" value="Add to Cart"></td>
            </div>
        
    {% endfor %}
    </form>
{% endblock %}