{% extends 'orders/base.html' %}

{% block title %} Main page {% endblock %}

{% block script %}
    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'script.js' %}"></script>
{% endblock %}

{% block body %}
    {% load range %}
    <h1>Menu</h1>
    <form>
    {% csrf_token %}  
    {% for category in menu %}
        <h3>{{category.name}}</h3>
            <table id="category_{{category.id}}" width=50% style="text-align: center;" border="1px">
                <tr style="background-color: whitesmoke">
                    <th></th>
                    <th>Size - Price</th>
                    <th>Toppings</th>
                    <!-- <th></th>
                    <th></th> -->
                </tr>
                {% for product in category.products.all %}
                <tr id="{{product.id}}">
                    <td>{{product.name}}</td>
                    <td>
                        <select>
                        {% for price in product.prices.all %}
                            <option name="price_{{product.id}}" id="{{price.id}}">{{price}}</option>
                        {% empty %}
                            No price
                        {% endfor %}
                        </select>
                    </td>

                    {% if product.number_of_toppings > 0 %}
                    <td>
                        {% for _ in product.number_of_toppings|get_range %}
                        <select>
                            <option disabled value="Select topping" selected>Select topping</option>
                            {% for topping in product.toppings.all %}
                            <option value="{{topping.name}}">{{topping.name}}</option>
                            {% endfor %}
                        </select>
                        <br>
                        {% endfor %}
                    </td>
                    
                    {% else %}
                    <td>Not available</td>
                    {% endif%}
                    <!-- <td><input name="add_{{position.id}}" type="button" value="Add to Cart"></td> -->
                </tr>
                {% endfor %}
            </table>
        
    {% endfor %}
    </form>
{% endblock %}